<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Visitor Management System</title>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
   <link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet" type="text/css">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" rel="stylesheet" type="text/css">
   <link href="css/style.css" rel="stylesheet" type="text/css" />
   <link rel="icon" href="images/favicon.png" type="image/png">
   
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
       <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
   <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
</head>

<body class="">
        <a href="#"  onclick="history.back();" class="animated bounceInDown" style="position:absolute; background-color: rgba(0, 0, 0, 0.6); padding: 5px;top: 0; left: 0; "><i class="medium material-icons" style="color: #fff;">chevron_left</i></a>

<div class="bg "> 
<div class="row">
<div class="w80">
<div class="parentbox">
    <div class="childbox">
   
       <h3><i class="material-icons prefix">beenhere </i> Verification Step <span></span></h3>
           <div class="row">
     
       <div class="input-field col s6 offset-s3">
          <h4 class="center-align">Verify your mobile number</h4>
     <p class="center-align">Thanks for giving your details. An OTP has been sent to your Mobile Number <%=user.Phone %>. 
Please enter the 4 digit OTP below for Successful Registration</p>
        </div>
  </div>
  <form class="" action="/otp2" method="POST">
    <div class="col s3">&nbsp;</div>
    <div class="col s12">
     <div class="center-align">
       <div class="col s1"><i class="material-icons prefix size">chat</i></div>
    </div>
       <input type="hidden" id="FName" type="text" name="FName" value=<%=user.FName %>>
       <input type="hidden" id="LName" type="text" name="LName" value=<%=user.LName %>>
       <input type="hidden" id="business" type="text" name="CName" value=<%=user.Business %>>
       <input type="hidden" id="email" type="text" name="Email" value=<%=user.Email %>>
       <input type="hidden" id="meetingWith" type="text" name="Host" value=<%=user.Host %>>
       <input type="hidden" id="purposeOfTheMeeting" type="text" name="PofMeet" value=<%=user.Purpose %>>
       <input type="hidden" id="Phone" type="tel" name="Phone" value=<%=user.Phone %>>    
       <input type="hidden" id="otp" type="tel" name="otp" value=<%=user.otp %>>  
       <input type="hidden"  id="nameSearch" type="tel" name="nameSearch" value=<%=user.VID %>>
       <input type="hidden" id="snap" type="tel" name="snap" value=<%=user.snap %>>
       <input type="hidden" id="oup" name="oup" />
       
      <!--<div class="input-field col s1">
         
          <input id="icon_prefix" type="text" class="inputsmaxlength="1" " maxlength="1"  >
          
        </div>
         <div class="input-field col s1">
          
          <input  id="" type="text" class="inputs" maxlength="1"  >
         
        </div> -->
        <div class=" col s12">
        <div class="input-field w">
         
          <input id="oup1"  type="tel" class="inputs" maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="validate" required="required" >
           <input  id="oup2"  type="tel" class="inputs" maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="validate" required="required" >
            <input id="oup3"  type="tel" class="inputs" maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="validate" required="required" >
             <input id="oup4"  type="tel" class="inputs" maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="validate" required="required">
          <!--<label for="icon_prefix">Purpose Of the Meeting </label>-->
        </div>
    </div>
      
        <div class="input-field col s12">
          
                <button class="waves-effect waves-light btn default"  type="submit" name="action" >Verify<i class="material-icons prefix back">navigate_next</i></button>
        </div>
        <div class="gap10"></div>
         </form>

    </div>
</div>

</div>
</div>

</div>
<script>
    $("#oup1").change(function() {
        $("#oup").val($("#oup1").val().substring(0,1)+$("#oup2").val().substring(0,1)+ $("#oup3").val().substring(0,1)+ $("#oup4").val().substring(0,1));
    });
    $("#oup2").change(function() {
        $("#oup").val($("#oup1").val().substring(0,1)+$("#oup2").val().substring(0,1)+ $("#oup3").val().substring(0,1)+ $("#oup4").val().substring(0,1));
    });
    $("#oup3").change(function() {
        $("#oup").val($("#oup1").val().substring(0,1)+$("#oup2").val().substring(0,1)+ $("#oup3").val().substring(0,1)+ $("#oup4").val().substring(0,1));
    });
    $("#oup4").change(function() {
        $("#oup").val($("#oup1").val().substring(0,1)+$("#oup2").val().substring(0,1)+ $("#oup3").val().substring(0,1)+ $("#oup4").val().substring(0,1));
    });
    </script>
<script>   
          
    const alert = <%= alert %>;
      if (alert === true) {
        swal("Oops!", "Invaild OTP Code!", "error");
      }
    </script>

<script language="javascript" type="text/javascript">
$(".inputs").keyup(function () {
    if (this.value.length == this.maxLength) {
      $(this).next('.inputs').focus();
    }
});

</script>
           

     

</body>
</html>
